<h1>Preface</h1>
<p>On top of providing you with awesome programming tutorial snippets and a general purpose blog, calmlyCoding is also proud to share with your our Android apps!</p>
<br/>
<br/>
<section>
<header>Tipster</header>
<img src = "https://lh5.ggpht.com/5mImF-VrfIiAcnvOV7grXE35bnws4iX7A1Tj1NZm_7OV2FmZjLVHUc-H9XQOgFeWhw=w124" class = "leftFloat"/>
<p> A junior attempt to gain a foothold in android development. Tipster is calmlyCoding's first Android app. More than just a simple 'hello world' application, this app makes use of the ever popular sidebarmenu library, google places, facebook apis and more to provide a valuable tip calculator to android users. The official description reads as : </p>
<div style = "background:#EEEEEE;">
The newest tip calculating app on Android! Now you can have confidence that your tip amount is justified - Instead of simply giving you canned options of predetermined amounts, Tipster asks you a few questions about your dining experience and calculates how much you should tip based on your answers.
Other features :
<ul>
<li>Find your location and share with your facebook friends!</li>
<li>Split your totals with your friends so that everyone pays their share. </li>
<li>A quick and easy mode that lets you quickly tip 15%.</li>
<li>Lucky mode! Randomize your tip amount. Maybe you'll be the lucky one, maybe your server will be!</li>
</ul>
</div>
<p>Tipster is currently flourishing with over 100 downloads(and growing), and maintaining a 4.9/5 star rating by users. 
<br/>
<a href="https://play.google.com/store/apps/details?id=com.apps.tipster">
<img alt="Get it on Google Play"
   src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
</a>
<br/>
We've also made the source code available for the current build of Tipster available on Github! It's a valuable resource for a lot of post beginning topics. Check it out <a href ="https://github.com/rawkamatic/Tipster">here! </a>
</section>

<section>
<header>Plastrd</header>
<img src = "http://calmlycoding.com:78/Plastrd/comingsoon.png" class = "leftFloat" width = "200px"/>
<p> calmlyCoding's sophomore app endevour. This time, a lot more complicated and a lot more awesome. Plastrd intends to be the only wallpaper app you may ever need again. Not only allowing for automatic updates of your wallpaper based on a theme of your choosing, but with plans down the pipeline to also allow users to define their own playlists.
	<br/>
	While it's a very ambitious project for one person, it's so far been a blast to develop. Currently Tipster is about 1/2 way through it's development phase and soon will open up a mailing list to get users to begin testing on their devices.
	<br/>
	If you're interested in signing up for beta testing Plastrd - please register <a href="http://eepurl.com/t-_zD">here.</a> Thanks a lot for your consideration!
</p>
</section>
